*.sqlite
data/
.DS_Store


donnees/.~lock.*

*.csv

__pycache__/
*.py[cod]
*$py.class


manipuler_les_fichiers/donnees/etudiantes_universites_suisses.csv



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# Jupyter Notebook

.ipynb_checkpoints
